@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nerko+One&family=Open+Sans:wght@300&family=Poppins&family=Roboto:ital,wght@0,300;0,400;1,100&family=Supermercado+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

body {
    background-color: #1897Bf;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.container {
    width: 700px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.box {
    border-radius: 5px;
    border:1px solid #7F8487;
    
}
.box .text-controls{
    display: flex;
    border-top:1px solid #7F8487;

}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style: none;
    padding: 12px 15px;
}
.text-controls textarea {
    height:250px;
    width: 100%;
    border:none;
    background-color: none;
    font-size:18px;
    border-radius: 5px;
    padding:10px 15px;
    resize:none;
}
.text-controls .to-text {
    border-left:1px solid #7F8487;
    border-radius: 0;
}

button{
    background-color: #555555;
    border:none;
    color: #fff;
    padding:10px 20px;
    width:100%;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    transition-duration:.4s;
    border: 2px solid #555;
    cursor: pointer;
}
button:hover{
    background-color: #fff;
    color:black;
    
}